
.smallCard {
    border: 1px solid #f5725c;
    border-radius: 8px;
    background: #fff;
    padding: 0.75rem;
    width: 6rem;
    height: 6rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    transition: transform 0.3s ease;

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        transform: scale(1.035);
    }

    .icon {
        text-align: center;

        i {
            font-size: 2.875rem;
            color: #f5725c;
        }
    }

    .body {
        p {
            margin-bottom: 0;
            font-size: 0.875rem;
            text-align: center; 
            color: #f5725c;
            font-weight: 600;
        }
    }
}

.wideCard {
    box-shadow: none !important;
    border: 1px solid #f3f3f3 !important;
    margin-bottom: 2rem;

    .imgwrp {
        text-align: center;
    }

    p {
        br {
            content: '';
            margin-bottom: 0.875rem;
            display: block;
        }
    }
}