
* {
    box-sizing: border-box;
    unicode-bidi: embed;
}

html, body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    font-size: 0.96rem;
    background: #fff;
    color: #292827;
}

[data-grid~="container"] {
    max-width: calc(1920px + 10%);
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    min-height: 100vh;
}

.content {
    min-height: 65vh;
    background: #fcfaff;
    border-radius: 16px;
    padding: 4rem 2rem;
}